body {
    background: #181818;
}

html {
    scroll-behavior: smooth;
}

h1 {
    text-transform: uppercase;
}

h2 {
    color: #ffffff;
    text-transform: uppercase;
}

a:hover{
    color: #fffff !important;
}

a:visited, a:active{
    color: #ffffff;
}

a.instagram-link:hover{
    color: #ffffff !important;
    opacity: .9;
}

.song-title {
    color: #ffffff;
}

.music-video-block{
    border-radius: 0;
    padding: 15px;
    background: #ffffff;
    margin-bottom: -5px;
}

.music-video-block .video-block video {
    border-radius: 0;
}

.music-video-block .video-block .play-button {
    background: rgba(0,0,0,0.5);
    margin-bottom: 5px;
}

.minis-section {
    padding-top: 30px;
    background: #003862;
}

.minis-section .music-video-block{
    border-radius: 0;
    padding: 5px;
}

.minis-section .music-video-block video{
    border-radius: 0;
}

.price-block {
    border-radius: 38px;
    padding: 40px 45px 45px;
    background: #ffffff;
}

.price-title-text {
    font-weight: bold;
    margin-bottom: 25px;
}

.price-value-text {
    color: #ffffff !important;
    display: block;
    text-align: center;
    font-weight: bold;
}

.price-params-list {
    min-height: 220px;
    text-align: center;
    background: #1a1a1a;
    border-radius: 38px;
    padding: 20px 45px 25px;
    margin-bottom: 25px;
}

@media (width <= 1250px) {
    .music-video-block
    {
        border-radius: 0;
        padding: 5px;
    }

    .minis-section .music-video-block{
        border-radius: 0;
        padding: 5px;
    }

    .music-video-block .video-block video,
    .minis-section .music-video-block video{
        border-radius: 0;
    }

    .price-block {
        border-radius: 0;
        padding: 40px 15px 45px;
    }

    .price-params-list {
        min-height: auto;
    }
}

.link-anchor {
    position: absolute;
    margin-top: -90px;
}

/*** modal ***/
.fullscreen-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
    display: none; /* hidden */
}

.fullscreen-modal.show {
    display: flex;
}

.fullscreen-video {
    
}



/*** Home text animation ***/

@keyframes wave {
    0% { transform: translateY(0); opacity: 1; }
    50% { transform: translateY(-10px); opacity: 0.8; }
    100% { transform: translateY(0); opacity: 1; }
}

.wave-letter {
    display: inline-block;
    animation: wave 1s ease-out forwards;
}

.text-animation-container {
    position: relative;
    z-index: 1;
    height: 200px;
    width: 100%;
}

#current-text {
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: 1px;
    /* top: 50% задаётся через transform в JS */
}

/*** ***/
.animate-pulse-gradient {
    background: linear-gradient(90deg, #ec4899, #ef4444, #f59e0b);
    background-size: 200% 100%;
    background-position: 0% 50%;
    animation: pulse-gradient 3s ease-in-out infinite;
}

@keyframes pulse-gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



.close-fullscreen-video-button:hover {
    background: #ffffff;
}